---
import { createClient, type SanityDocument } from "@sanity/client";
import imageUrlBuilder from "@sanity/image-url";
import type { SanityImageSource } from "@sanity/image-url/lib/types/types";
import AnimatedContainer from "../components/AnimatedContainer";
import ContentContainer from "../components/ContentContainer";
import Footer from "../components/Footer";
import Header from "../components/Header";
import Navigation from "../components/Navigation";
import Projects from "../components/Projects";
import Tech from "../components/Tech";
import WorkComponent from "../components/Work";
import { sections } from "../constants";
import Layout from "../layouts/Layout.astro";
import "../styles.css";
import type { Header as HeaderType, Project, Work } from "../types/project";

// TODO - change favicon
export const client = createClient({
  projectId: import.meta.env.SANITY_PROJECT_ID,
  dataset: "production",
  useCdn: false, // set to `false` to bypass the edge cache
  // Set default headers to be included with all requests
  headers: {
    "X-Custom-Header": "custom-value",
  },
  apiVersion: "2025-02-06", // use current date (YYYY-MM-DD) to target the latest API version. Note: this should always be hard coded. Setting API version based on a dynamic value (e.g. new Date()) may break your application at a random point in the future.
  token: import.meta.env.SANITY_API_TOKEN, // Needed for certain operations like updating content, accessing drafts or using draft perspectives
});

const HEADER_QUERY = `*[_type == "header"]{
  _id,
  title,
  contentList,
}`;

const PROJECT_QUERY = `*[_type == "project"]{
  _id,
  title,
  liveLink,
  sourceCodeLink,
  mainImage,
  languages,
  body,
}`;

const WORK_QUERY = `*[_type == "work"]{
  _id,
  order,
  title,
  dateRange,
  description,
  responsibilities,
  location,
  link,
}`;
const imageBuilder = imageUrlBuilder(client);

function buildImageUrl(source: SanityImageSource) {
  return imageBuilder.image(source);
}

const work = await client.fetch<SanityDocument<Work[]>>(WORK_QUERY);

const headerContent =
  await client.fetch<SanityDocument<HeaderType[]>>(HEADER_QUERY);

const workMap = work.sort((a, b) => a.order - b.order);

const projects = await client.fetch<SanityDocument<Project[]>>(PROJECT_QUERY);

const projectMap = projects.map((project) => {
  return {
    ...project,
    optImage: buildImageUrl(project.mainImage),
  };
});
---

<Layout>
  <main id={sections[0].name}>
    <Navigation client:only="react" />
    <Header header={headerContent?.[0]} />
    <ContentContainer id="tech" isFirst={true}>
      <Tech />
    </ContentContainer>
    <ContentContainer id={sections[1].name}>
      <Projects projects={projectMap} />
    </ContentContainer>
    <ContentContainer id={sections[2].name}>
      <WorkComponent workMap={workMap} />
    </ContentContainer>
    <ContentContainer id="footer">
      <Footer />
    </ContentContainer>
    <AnimatedContainer />
  </main>
</Layout>
